<template>
  <div id="app">
    <div class="search-box">
      <div class="search-box__inner">
        <h2 class="search-box__title">
          Let’s find your ideal car
        </h2>
        <div class="input-group">
          <label for="term" class="input-group__label">
            Pick-up Location
          </label>
          <input @input="findLocations"
            v-model="api.term"
            id="term"
            placeholder="city, airport, station, region, district..."
            type="text"
            class="input-group__input"
            aria-describedby="pickupInstructions"
          >
          <span class="input-group__reader" id="pickupInstructions">
            Please enter a pick up location and choose from the
            autocomplete list using your keyboard arrows.
          </span>
        </div>
        <div class="locations">
          <div
            v-for="(location, index) in locations"
            :key="index"
            v-html="locationText(index)"
            class="location"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
      api: {
        endpoint: 'https://cors.io/?https://www.rentalcars.com/FTSAutocomplete.do?solrIndex=fts_en&solrRows=6',
        term: null,
      },
      locations: [],
    };
  },
  methods: {
    clearLocations() {
      this.locations = [];
    },
    findLocations() {
      if (this.api.term.length < 2) {
        this.clearLocations();
        return;
      }

      // Set a timeout
      fetch(`${this.api.endpoint}&solrTerm=${this.api.term}`)
        .then(stream => stream.json())
        .then(data => this.parseLocations(data));
    },
    locationText(index) {
      const location = this.locations[index];
      const {
        name,
        city,
        iata,
        country,
      } = location;
      let formatted = name;
      if (iata !== undefined) {
        formatted += ` (${iata})`;
      }

      formatted += '<br>';

      if (city !== undefined) {
        formatted += `${city}, `;
      }

      if (country !== undefined) {
        formatted += `${country}`;
      }

      return formatted;
    },
    parseLocations(data) {
      this.clearLocations();

      // Clear results if the input is cleared after fetching
      if (this.api.term.length < 2) {
        return;
      }

      // Push the API's default no results found to the array if none exist
      if (data.results.numFound === 0) {
        this.locations.push({ name: data.results.docs[0].name });
        return;
      }

      data.results.docs.forEach((el) => {
        this.locations.push(el);
      });
    },
  },
};
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500');
$border: #b4b4b4;
$font-colour: #444;
$font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
$primary: #f3ce56;

body, html {
  font-size: 16px;
}

#app {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-colour;
  display: flex;
}

.search-box {
  background: $primary;
  margin: 25px auto;
  padding: 16px;
  max-width: 480px;
  width: 100%;
}

.search-box__inner {
  box-sizing: border-box;
  padding: 24px;
}

.search-box__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 2rem;
  margin-top: 0;
}

.input-group__label {
  font-size: 14px;
  display: block;
  padding: 0 0 4px;
}

.input-group__input {
  border: 1px solid $border;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 8px 16px;
  width: 100%;
}

.input-group__reader {
  display: none;
}
</style>
